.tabs [class="MuiTabs-root css-jhczcq-MuiTabs-root"] {
  margin-bottom: 1.2rem;
}
.tabs [class="MuiTabs-root css-jhczcq-MuiTabs-root"] [class="MuiTabs-scroller MuiTabs-fixed css-s2t35c-MuiTabs-scroller"] {
  [aria-label="basic tabs example"] {
    justify-content: center;
    align-items: center;
  }
  span {
    justify-content: center;
    align-items: center;
  }
  //   background-color: black;
}
