.LandingPageContainer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(../../assets/images/landingPageBGFinal.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LandingPageData {
  height: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: "Agatho";
  color: #a39b91;
  .heading {
    h1 {
      text-transform: uppercase;
      font-size: 4.8rem;
      line-height: 1;
    }
    span {
      text-transform: uppercase;
      font-size: 1.8rem;
    }
  }
  .tagLine {
    font-size: 4.8rem;
    line-height: 1.2;
  }
  button {
    background-color: rgb(0, 0, 0, 0.5);
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    margin-top: 1rem;
    border-radius: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .LandingPageContainer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(../../assets/images/landingPageBGFinalMobile.png);
    background-size: cover;
  }
  .LandingPageData {
    .heading {
      h1 {
        font-size: 3rem !important;
      }
      span {
        font-size: 1.6rem !important;
      }
    }
    button {
      font-size: 1.6rem !important;
    }
    .tagLine {
      font-size: 4rem !important;
    }
  }
}
